apiVersion: batch/v1
kind: Job
metadata:
  name: saf-performance-test
  labels:
    app: saf-performance-test
spec:
  parallelism: 1
  completions: 1
  template:
    labels:
      app: saf-performance-test
    spec:
      restartPolicy: Never
      containers:
        - name: performance-test
          image: quay.io/plmr/performance-test:dev
          imagePullPolicy: Always
          command:
            - /performance-test/exec/performance-test-entrypoint.sh
          volumeMounts:
          - name: test-configs
            mountPath: /performance-test/config/test-configs.yml
            subPath: test-configs.yml
          - name: entrypoint-script
            mountPath: /performance-test/exec/performance-test-entrypoint.sh
            subPath: performance-test-entrypoint.sh
          - name: collectd-config
            mountPath: /etc/collectd.conf
            subPath: collectd.conf
          - name: dashboard-template
            mountPath: /performance-test/grafana/perftest-dashboard.json
            subPath: perftest-dashboard.json
          - name: hosts
            mountPath: /performance-test/config/hosts.json
            subPath: hosts.json
      volumes:
      - name: collectd-config
        configMap:
          name: saf-performance-test-collectd-config
      - name: entrypoint-script
        configMap:
          name: saf-performance-test-entrypoint-script
          defaultMode: 0555
      - name: test-configs
        configMap:
          name: saf-performance-test-configs
      - name: dashboard-template
        configMap:
          name: perftest-dashboard-template
      - name: hosts
        configMap:
          name: saf-performance-test-hosts
