apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
data:
  telemetry.yaml: |+
    apiVersion: 1

    datasources:
    - name: prometheus
      type: prometheus
      access: proxy
      orgId: 1
      url: http://prometheus.{{ sa_telemetry_grafana_namespace }}.svc:9090
      jsonData:
         timeInterval: "30s"
      version: 1
      editable: true
    - name: prometheus-internal-blue
      type: prometheus
      access: proxy
      orgId: 1
      url: http://prometheus-blue.{{ sa_telemetry_grafana_namespace }}.svc:9090
      jsonData:
         timeInterval: "30s"
      version: 1
      editable: true
    - name: prometheus-internal-green
      type: prometheus
      access: proxy
      orgId: 1
      url: http://prometheus-green.{{ sa_telemetry_grafana_namespace }}.svc:9090
      jsonData:
         timeInterval: "30s"
      version: 1
      editable: true
    - name: connectivity
      type: elasticsearch
      typeLogoUrl: "public/app/plugins/datasource/elasticsearch/img/elasticsearch.svg"
      access: proxy
      orgId: 1
      url: http://elasticsearch.{{ sa_telemetry_grafana_namespace }}.svc:9200
      database: "collectd_connectivity"
      basicAuth: false
      isDefault: false
      jsonData:
        esVersion: 5
        timeInterval: "1m"
        timeField: "startsAt"
      editable: true
    - name: procevent
      type: elasticsearch
      typeLogoUrl: "public/app/plugins/datasource/elasticsearch/img/elasticsearch.svg"
      access: proxy
      orgId: 1
      url: http://elasticsearch.{{ sa_telemetry_grafana_namespace }}.svc:9200
      database: "collectd_procevent"
      basicAuth: false
      isDefault: false
      jsonData:
        esVersion: 5
        timeField: "startsAt"
        timeInterval: "1m"
      editable: true
    - name: sysevent
      type: elasticsearch
      typeLogoUrl: "public/app/plugins/datasource/elasticsearch/img/elasticsearch.svg"
      access: proxy
      orgId: 1
      url: http://elasticsearch.{{ sa_telemetry_grafana_namespace }}.svc:9200
      database: "collectd_sysevent"
      basicAuth: false
      isDefault: false
      jsonData:
        esVersion: 5
        timeField: "startsAt"
        timeInterval: "1m"
      editable: true
