openshift/working
openshift/examples/*
!openshift/examples/61will.space_dev
!openshift/examples/61will.space_dev
!openshift/examples/61will.space_full
!openshift/examples/nfvpe.site_full
!openshift/examples/README.md
