apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prometheus-{{ node.name }}
  labels:
    sa-app-{{ node.name }}: prometheus-{{ node.name }}
    sa-telemetry-app-{{ node.name }}: prometheus-{{ node.name }}
spec:
  selector:
    matchLabels:
      sa-app: prometheus-{{ node.name }}
  namespaceSelector:
    matchNames:
    - {{ sa_telemetry_prometheus_namespace }}
  endpoints:
  - port: prometheus
    interval: {{ sa_telemetry_prometheus_default_interval }}
