apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  clusterName: ""
  labels:
    sa-telemetry-app-blue: kube-state-metrics
    sa-telemetry-app-green: kube-state-metrics
  name: kube-state-metrics
  namespace: sa-telemetry
spec:
  endpoints:
  - interval: 30s
    port: http-metrics
  - interval: 30s
    port: telemetry
  namespaceSelector:
    matchNames:
    - kube-system
  selector:
    matchLabels:
      k8s-app: kube-state-metrics
