apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: qdr-{{ node_label.name }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: qdr
        version: v1
        type: router
        node: {{ node_label.name }}
    spec:
      serviceAccountName: qdr
      securityContext:
        privileged: true
      containers:
      - name: qdr-{{ node_label.name }}
        image: "{{ sa_telemetry_qdr_container_image }}:{{ sa_telemetry_qdr_container_version }}"
        imagePullPolicy: IfNotPresent
        env:
         - name: KOLLA_CONFIG_STRATEGY
           value: COPY_ALWAYS
        ports:
        - name: internal
          containerPort: 5672
          protocol: TCP
        - name: external
          containerPort: 20001
          protocol: TCP
        volumeMounts:
        - name: qdrouterd-config
          mountPath: /etc/qpid-dispatch
        - name: qdrouterd-config-kolla
          mountPath: /var/lib/kolla/config_files/src/etc
        - name: qdrouterd-json
          mountPath: /var/lib/kolla/config_files
        - name: var-log-qdrouterd
          mountPath: /var/log/qdrouterd
        - name: opt-qdrouterd
          mountPath: /opt/qdrouterd
      volumes:
      - name: qdrouterd-config
        configMap:
          name: qdrouterd-config-{{ node_label.name }}
      - name: qdrouterd-config-kolla
        configMap:
          name: qdrouterd-config-{{ node_label.name }}
      - name: qdrouterd-json
        configMap:
          name: qdrouterd-json-{{ node_label.name }}
      - name: var-log-qdrouterd
        emptyDir: {}
      - name: opt-qdrouterd
        emptyDir: {}
      nodeSelector:
        node: {{ node_label.name }}
