apiVersion: v1
kind: Service
metadata:
  creationTimestamp: 2018-09-26T21:13:42Z
  labels:
    app: sa-telemetry-alertmanager
  name: alertmanager
  namespace: sa-telemetry
  resourceVersion: "9889"
  selfLink: /api/v1/namespaces/sa-telemetry/services/alertmanager
  uid: 0bcac896-c1d1-11e8-b514-525400acc3dd
spec:
  clusterIP: 172.30.140.197
  ports:
  - name: web
    port: 9093
    protocol: TCP
    targetPort: web
  selector:
    sa-app: alertmanager
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}
