apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: metrics-consumer-{{ item.name }}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        sa-telemetry-app: metrics-consumer-{{ item.name }}
    spec:
      securityContext:
        nonroot: true
      containers:
      - name: metrics-consumer
        image: {{ sa_telemetry_consumers_container_image }}:{{ sa_telemetry_consumers_container_version }}
        volumeMounts:
        - name: metrics-config
          mountPath: /config
        resources:
          requests:
            memory: {{ sa_telemetry_metrics_memory_request }}
            cpu: {{ sa_telemetry_metrics_cpu_request }}
          limits:
            memory: {{ sa_telemetry_metrics_memory_limit }}
            cpu: {{ sa_telemetry_metrics_cpu_limit }}
        args:
          - '-config=/config/sa.metrics.config.json'
          - '-uname=$(MY_POD_NAME)'
        env:
          - name: MY_POD_NAME
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: metadata.name
        ports:
        - name: metrics
          containerPort: 8081
      volumes:
      - name: metrics-config
        configMap:
          name: metrics-config-{{ item.name }}
      nodeSelector:
        node: {{ item.name }}
        application: sa-telemetry
