apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: metrics-consumer-{{ item.name }}
  labels:
    sa-telemetry-app-{{ item.name }}: metrics-consumer-{{ item.name }}
spec:
  selector:
    matchLabels:
      sa-telemetry-app: metrics-consumer-{{ item.name }}
  namespaceSelector:
    matchNames:
    - {{ sa_telemetry_consumers_namespace }}
  endpoints:
  - port: metrics
    interval: 4s
