apiVersion: v1
kind: ConfigMap
metadata:
  name: qdrouterd-config-{{ item.name }}
data:
  qdrouterd.conf: |+
    router {
        mode: interior
        id: central-qdr-{{ item.name }}
    }

    listener {
        host: 0.0.0.0
        port: amqp
        authenticatePeer: no
        saslMechanisms: ANONYMOUS
    }

    listener {
        host: 0.0.0.0
        port: 20001
        role: inter-router
        authenticatePeer: no
        saslMechanisms: ANONYMOUS
{% if sa_telemetry_node_labels[(label_index + 1)] is defined %}        failoverList: {{ sa_telemetry_node_labels[(label_index + 1)]['name'] }}.{{ sa_telemetry_qdr_hostname }}
{% endif %}    }

{% if sa_telemetry_node_labels[(label_index + 1)] is defined %}    connector {
        role: inter-router
        host: messaging-external-{{ sa_telemetry_node_labels[(label_index + 1)]['name'] }}.{{ sa_telemetry_qdr_namespace }}.svc
        port: 20001
        saslMechanisms: ANONYMOUS
    }{% endif %}

    address {
        prefix: closest
        distribution: closest
    }

    address {
        prefix: multicast
        distribution: multicast
    }

    address {
        prefix: unicast
        distribution: closest
    }

    address {
        prefix: exclusive
        distribution: closest
    }

    address {
        prefix: broadcast
        distribution: multicast
    }

    address {
        prefix: collectd/telemetry
        distribution: multicast
    }

    address {
        prefix: collectd/notify
        distribution: multicast
    }
