apiVersion: v1
imagePullSecrets:
- name: alertmanager-dockercfg-qdjxf
kind: ServiceAccount
metadata:
  creationTimestamp: 2018-09-26T21:13:39Z
  name: alertmanager
  namespace: sa-telemetry
  resourceVersion: "9849"
  selfLink: /api/v1/namespaces/sa-telemetry/serviceaccounts/alertmanager
  uid: 0a2ebea7-c1d1-11e8-b514-525400acc3dd
